<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>PHP之道-袁茹兵个人网站</title>
		<include file="./Application/Home/View/Public/link.html"/>
		<style type="text/css">
			.contentLeft ul{overflow: hidden;}
			.contentLeft ul li{width: 100%;overflow: hidden;margin-bottom: 5px;}
			.contentLeft ul li img{float: left;width:200px;height:150px;}
			.contentLeft ul li .contentBox{float: left;margin-left: 20px;}
			.contentBox span{color:gray;}
        </style>
		<script type="text/javascript">
			$(function(){
				$(".nav>li").eq(3).addClass("active");
			})
			//type值为0，下一页，为-1，上一页，为正到指定页
			function turnPage(pageNo,type){
				var pageNo = parseInt(pageNo);
				if(type == 0){
					pageNo += 1;
					if(pageNo > parseInt('{$page.total}'/10)+1){
						alert('已经是最后一页了！');
						pageNo = parseInt('{$page.total}'/10)+1;
						return;
					}
				}else if(type == -1){
					pageNo -= 1;
					if(pageNo == 0){
						alert('已经是第一页了！');
						pageNo = 1;
						return;
					}
				}else{
					pageNo = type;
				}
				location.href = "__ROOT__/index.php?c=boardPage&a=boardLoad&pageNo ="+pageNo+"&pageNo="+pageNo;
			}
		</script>
	</head>
	<body>
		<!--导航开始-->
		<include file="./Application/Home/View/Public/_header.html"/>
    	<!-- 本站主体内容 -->
    	<div class="container">
    		<div class="row">
				<div class="col-md-10">
					<h2>文章列表</h2>
					<p><span><a href="#">按发布时间排序</a></span></p>
				</div>
				<div class="col-md-2 text-center">
					<h2>文章分类</h2>
				</div>
			</div>
			<div class="row">
				<!--内容左-->
				<div class="col-md-10 contentLeft">
					<ul>
						<volist name="data.rows" id="rows">
							<li>
								<a href="__ROOT__/ArticleContent/article_content/id/{$rows.id}.html">
									<img src="__PUBLIC__{$rows.img_url}" onerror="this.src='__PUBLIC__/img/error.png'"/>
									<div class="contentBox">
										<h4>主题：{$rows.title}</h4>
										<span>发布时间：{$rows.time}</span>
										<p>摘要：{$rows.content}</p>
										<p><a href="__ROOT__/ArticleContent/article_content/id/{$rows.id}.html" class="btn btn-default">详情</a></p>
									</div>
								</a>
							</li>
						</volist>
					</ul>
					<!-- 分页 -->
					<nav aria-label="Page navigation" class="text-center">
					  <ul class="pagination">
					  	<li><a href="javascript:void(0);">第{$data.pageNo}页</a></li>
					    <li id="pageLeft">
					      <a href="javascript:turnPage('{$data.pageNo}',-1);" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',1);">1</a></li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',2);">2</a></li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',3);">3</a></li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',4);">4</a></li>
					    <li><a href="javascript:turnPage('{$data.pageNo}',5);">5</a></li>
					    <li>
					      <a href="javascript:turnPage('{$data.pageNo}',0);" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					    <li><a href="javascript:void(0);">共{$data.total}条数据</a></li>
					  </ul>
					</nav>
				</div>
				<!--内容右-->
				<div class="col-md-2">
					
				</div>
		</div>
		<!--footer-->
      	<include file="./Application/Home/View/Public/_footer.html"/>
      	<include file="./Application/Home/View/Public/login.html"/>
	</body>
</html>
